$square-size: 21px;

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 0;
        width: 100%;
    }
}

table {
  border-spacing: 0;
  margin-bottom: 16px;
}

.grid-row {
  line-height: 0;
}

.cell {
  line-height: 0;
  display:inline-block;
  margin:0;
  padding:0;
  height: $square-size;
  width: $square-size;
  border-radius: 0;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.black {
  background-color: black;
}

.grid-row:first-child .cell {
  border-top: 1px solid black;
}

.cell:last-child {
  border-right: 1px solid black;
}

input[type="range"] {
  width: 50%;
}

.slider {
  height: 50px;
}

.btn {
  margin-right: 8px;
  margin-top: 8px;
}
